<div class="container">
  <div class="row">
    <div class="col-md-5" mx-auto>

      <div class="card mt-3">
        <form action="">
          <div class="from-group">
            <div class="card-heading text-center">Login</div>
            <div class="card-body">
              <label for="username">username :</label>
              <input type="text" class="form-control">
              <label for="">passwrd :</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <button type="button" class="btn btn-success ml-6" (click)="fnLogin()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>