<!-- <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Profile</a></li>
    <li><a href="#!">Logout</a></li>
  </ul> -->
<div class="review-content">
  <div class="row">
    <div class="col s5 column-padding">
      <img class="responsive-img" src="/assets/img/Fax.png" />
    </div>
    <div class="col s7 column-padding">
      <div>
        <div class="row">
          <div class="col l4 m4 s4">
            <label>File Id: </label>
            <span>10002</span>
          </div>
          <div class="col l4 m4 s4">
            <label>FileName</label>
            <span>550_1002.pdf</span>
          </div>
          <div class="col l4 m4 s4">
            <label>Project:</label>
            <span>Sample Project Wave | 2018</span>
          </div>
        </div>
        <hr>
        <br>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td colspan="2" style="width: 20%;">Page Range</td>
                <td>Document Type</td>
                <td colspan="2" style="width: 20%;">Chart ID</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <input  type="text" class="custom-form">
                </td>
                <td>
                  <input type="text"  class="custom-form" />
                </td>
                <td>
                    <div class="browser-default col s8">
                        <select>
                          <option value="" disabled selected>Choose your option</option>
                          <option value="1" *ngFor="let option of this.optionsList">{{option}}</option>
                        </select>
                      </div>
                </td>
                <td>
                  <input type="text" class="form-control" />
                </td>
                <td>
                  <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>