/* You can add global styles to this file, and also import other style files */
body{
	font-family: 'Fira Sans', sans-serif;
}
.img-style{

	height: 30px;
}
.customHeading{
	text-align: center;
	border-bottom: 1px solid #Eee;  
}
.col {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
nav{
	background-image: url('/assets/img/navbar_bg.png');
	background-color: transparent;
}
nav .brand-logo label{
	color:#FC5B1E;
	font-size: 15px;
	padding-left: 10px;
}
nav .brand-logo{
	display: flex;
	background-color: white;
	padding:17px;
}
.btn-custom{
	background-color:#FC5B1E;
}

.avatar_style{
	width: 50px;
}
.card-panel{
	margin-top: 3px;
	padding: 0px 0px 0px 20px;

}
.custom_row{
	margin-bottom: 0px;
}
.file_counts{
	font-size: 36px;
	color: #9b9b9b;
	margin-top: 0px;
    margin-bottom: 0px;
}
.file_value{
	font-size: 14px;
  font-weight: 300;
  color: #9b9b9b;
  margin-top: 0px;
    margin-bottom: 0px;
}
.row .col.s1{
	margin: 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.btn-pageNation{
	padding: 4px;
    line-height: 20px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}
.container-fluid{
	padding:15px;
}
.ciox_dashboard{
	margin-bottom: 0px;
}
.full-width{
	width: 100%;

}

.hand {
	cursor: pointer;
}